@using PhysioCenter.Models.Appointments
@model AppointmentsListViewModel

@{
    this.ViewData["Title"] = "Appointments";
}

<div class="container px-5">
<main role="main" class="pb-3">
<h2>All Appointments (@Model.Appointments.Count())</h2>

<table class="table table-bordered table-striped">
    <thead class="thead-light">
        <tr>
            <th scope="col">Appointment Date</th>
            <th scope="col">Client</th>
            <th scope="col">Therapist</th>
            <th scope="col">Service</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in this.Model.Appointments)
        {
            <tr>
                <th scope="row">@appointment.DateTime.ToString("f")</th>
                <td>@appointment.ClientFirstName</td>
                <td>@appointment.TherapistFullName</td>
                <td>@appointment.ServiceName</td>
                <td>
                    @if (appointment.DateTime < DateTime.Parse("12/03/2022"))
                    {
                        <text>Completed</text>
                    }
                    else
                    {
                        <form method="post">
                            <button type="submit" class="btn btn-danger btn-sm"
                                    asp-area="Admin" asp-controller="Appointments" asp-action="DeleteAppointment" asp-route-id="@appointment.Id">
                                Delete
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
</main>
</div>

