@using PhysioCenter.Models.Appointments
@model AppointmentsListViewModel

@{
    this.ViewData["Title"] = "Appointments";
}

<div class="container px-5">
    <main role="main" class="pb-3">
        <h2>All Appointments </h2>
        <span>
            <a class="btn btn-info" asp-controller="Appointments" asp-action="CreateAppointment">Add New Appointment</a>
        </span>
        <table class="table table-bordered table-striped" id="adminTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Therapist</th>
                    <th scope="col">Service</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in this.Model.Appointments)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime.ToString("f")</th>
                        <td>@appointment.ClientFullName</td>
                        <td>@appointment.TherapistFullName</td>
                        <td>@appointment.ServiceName</td>
                        <td>
                            @if (appointment.DateTime < DateTime.UtcNow)
                            {
                                <text>Completed</text>
                            }
                            else
                            {
                                <a asp-controller="Appointments"
                           asp-action="DeleteConfirmation"
                           asp-route-id="@appointment.Id"
                           class="btn btn-danger">
                                    Delete
                                </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>

