@using PhysioCenter.Models.Appointments
@model AppointmentsListViewModel

@{
    this.ViewData["Title"] = "Appointments";
}

@if (TempData.ContainsKey("SuccessfullyDeleted"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyDeleted"]
    </div>
}
@if (TempData.ContainsKey("SuccessfullyAdded"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyAdded"]
    </div>
}
@if (TempData.ContainsKey("SuccessfullyEdited"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyEdited"]
    </div>
}

<div class="container px-5">
    <main role="main" class="pb-3">
        <h2>All Appointments </h2>
        <span>
            <a class="btn btn-info" asp-controller="Appointments" asp-action="CreateAppointment">Add New Appointment</a>
        </span>
        <table class="table table-bordered table-striped table-hover" id="adminTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Client</th>
                    <th scope="col">Therapist</th>
                    <th scope="col">Service</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in this.Model.Appointments)
                {
                    <tr>
                        <th scope="row">@appointment.DateTime.ToString("f")</th>
                        <td>@appointment.ClientFullName</td>
                        <td>@appointment.TherapistFullName</td>
                        <td>@appointment.ServiceName</td>
                        <td>
                                <a asp-controller="Appointments"
                           asp-action="EditAppointment"
                           asp-route-id="@appointment.Id"
                           class="btn btn-warning">
                                    Edit
                                </a>
                                <a asp-controller="Appointments"
                           asp-action="DeleteConfirmation"
                           asp-route-id="@appointment.Id"
                           class="btn btn-danger">
                                    Delete
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <span><partial name="_PagingNavPartial" /></span>

    </main>
</div>

