@using PhysioCenter.Models.Services
@model ServicesListViewModel

@{
    this.ViewData["Title"] = "Services";
}

@if (TempData.ContainsKey("SuccessfullyDeleted"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyDeleted"]
    </div>
}
@if (TempData.ContainsKey("SuccessfullyAdded"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyAdded"]
    </div>
}
@if (TempData.ContainsKey("SuccessfullyEdited"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyEdited"]
    </div>
}

<div class="container px-5">
    <main role="main" class="pb-3">
        <h2>All Services </h2>
        <span>
            <a class="btn btn-info" asp-controller="Services" asp-action="CreateService">Add New Service</a>
        </span>
        <table class="table table-bordered table-striped table-hover" id="adminTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">In Category</th>
                    <th scope="col">Appointments booked</th>
                    <th scope="col">Current price</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var service in this.Model.Services)
                {
                    <tr>
                        <th scope="row">@service.Name</th>
                        <td>@service.Description</td>
                        <td>@service.CategoryName</td>
                        <td>@service.Appointments.Count</td>
                        <td>@service.Price</td>
                        <td>
                                <a asp-controller="Services"
                           asp-action="EditService"
                           asp-route-id="@service.Id"
                           class="btn btn-warning">
                                    Edit
                                </a>
                                <a asp-controller="Services"
                           asp-action="DeleteConfirmation"
                           asp-route-id="@service.Id"
                           class="btn btn-danger">
                                    Delete
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>