@using PhysioCenter.Models.Appointments
@model AppointmentInputViewModel

@{
    ViewData["Title"] = "Book an Appointment";
    var therapists = ViewData["Therapists"] as SelectList;
    var services = ViewData["Services"] as SelectList;
}


@section Styles {
<link href="~/css/bootstrap-datetimepicker.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/solid.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/fontawesome.css">
}

<main role="main" class="pb-3">
    <canvas id=c></canvas>
    <h2>Create New Appointment</h2>
    <form method="post" enctype="multipart/form-data" class="pt-4">
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Therapist</label>
            <div class="col-sm-10">
                <select asp-for="@Model.TherapistId" id="therapistDropDown" class="form-select" asp-items="@therapists" style="width:400px;">
                    <option value="" disabled selected hidden>Choose a therapist...</option>
                </select>
                <span asp-validation-for="TherapistId" class="text-danger"></span>
            </div>
            <input hidden asp-for="@Model.ClientId" value="@ViewData["ClientId"]"/>
            <label class="col-sm-2 col-form-label">Service</label>
            <div class="col-sm-10">
                <select asp-for="@Model.ServiceId" class="form-select" id="servicesDropDown" style="width:400px;">
                    <option value="" disabled selected hidden>Please choose a therapist first!..</option>
                </select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <label class="col-sm-2 col-form-label">Time</label>
            <div class="col-sm-10">
                <input asp-for="DateTime" class="datepicker form-select" style="width:400px;" type="text" readonly name="DateTime">
                <span asp-validation-for="DateTime" class="text-danger"></span>

            </div>
            <div class="col-sm-12" style="margin-top: 20px;">
                <button type="submit" class="btn btn-success"
                        asp-controller="Appointments"
                        asp-action="BookAppointment">
                    Book an Appointment!
                </button>
                <a class="btn btn-danger" asp-controller="Home"
                   asp-action="Index">
                    Cancel
                </a>
            </div>

        </div>
    </form>
</main>

@section Scripts {
<script src="~/js/therapist-services.js" asp-append-version="true"></script>
<script src="~/js/therapist-schedule.js" asp-append-version="true"></script>
<script src="~/js/bootstrap-datetimepicker.js" asp-append-version="true"></script>
<partial name="_ValidationScriptsPartial" />
    }