@using PhysioCenter.Models.Therapists
@model TherapistsListViewModel

@{
    this.ViewData["Title"] = "Therapists";
}

@if (TempData.ContainsKey("SuccessfullyDeleted"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyDeleted"]
    </div>
}
@if (TempData.ContainsKey("SuccessfullyAdded"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyAdded"]
    </div>
}
@if (TempData.ContainsKey("SuccessfullyEdited"))
{
    <div id="mainAlertMessage" class="alert alert-success text-center alert-dismissible" role="alert">
        @TempData["SuccessfullyEdited"]
    </div>
}

<div class="container px-5">
    <main role="main" class="pb-3">
        <h2>All Therapists </h2>
        <span>
            <a class="btn btn-info" asp-controller="Therapists" asp-action="CreateTherapist">Add New Therapist</a>
        </span>
        <table class="table table-bordered table-striped table-hover" id="adminTable">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">User Id</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var therapist in this.Model.Therapists)
                {
                    <tr>
                        <th scope="row">@therapist.FullName</th>
                        <td>@therapist.UserId</td>
                        <td>
                                <a asp-controller="Therapists"
                           asp-action="EditTherapist"
                           asp-route-id="@therapist.Id"
                           class="btn btn-warning">
                                    Edit
                                </a>
                                <a asp-controller="Therapists"
                           asp-action="DeleteConfirmation"
                           asp-route-id="@therapist.Id"
                           class="btn btn-danger">
                                    Delete
                                </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
</div>